<!DOCTYPE html>
<html>
<head>
  <title>Elblog</title>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    "elblog/application", media: "all" %>
  
  <%= javascript_include_tag "elblog/application" %>
</head>

<body>
	<div class="page-wrap">
		
		<!-- Header -->
		<%= render partial: "layouts/elblog/header" %>

		<!-- Body -->
		<%= yield %>

		<!-- Footer -->
		<%= render partial: "layouts/elblog/footer" %>
	</div>

</body>
</html>