<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("activerecord.attributes.elblog/post.title") %></strong>
  <%= @post.title %>
</p>

<p>
  <strong><%= t("activerecord.attributes.elblog/post.content") %></strong>
  <%= @post.content %>
</p>

<p>
  <strong><%= t("activerecord.attributes.elblog/post.author") %></strong>
  <%= @post.author %>
</p>

<%= link_to t("elblog.views.edit.title"), edit_post_path(@post) %> |
<%= link_to t("elblog.views.index.title"), posts_path %>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = '<%= Elblog.elblog_discuss_shortname %>';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>